/*
* @Author: NiceMing
* @Date:   2018-03-06 19:29:50
*/
$white: #fff;
$orange: #1890ff;
$orange: #1890ff;
$deep-orange: #1890ff;
$light-orange: #fcf0e5;
// $orange: #409eff;
// $deep-orange: #228fff;
// $light-orange: #c9e4ff;
$deep-red: #f56c6c;
$light-red: #fef0f0;

$light-green: #60e451;
$font-color: #303133;


@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin wrap-background {
	border-radius: 5px;
	background-color: $white;
	box-shadow: 0 0 5px #ccc;
}

@mixin add-btn {
	cursor: pointer;
	color: $white;
	border: 1px solid $deep-orange;
	border-radius: 5px;
	background-color: $orange;

	&:hover {
		box-shadow: 0 0 8px $orange;
	}

}

@mixin nomal-btn {
	span {
		display: inline-block;
		width: 7.5rem;
		height: 2.5rem;
		font-size: 1.2rem;
		line-height: 2.5rem;
		cursor: pointer;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 3px;
		background-color: $white;

		&:hover {
			color: $white;
			border-color: $deep-orange;
			background-color: $orange;
			box-shadow: 0 0 8px $orange;
		}

	}

}

@mixin check-icon {
	i {
		display: inline-block;
		box-sizing: border-box;
		width: 1.2rem;
		height: 1.2rem;
		border: 1px solid #999;
		border-radius: 50%;
		background-color: #eee;

		&.checked {
			border: .4rem solid $orange;
		}

	}

}

.show {
	display: block;
}



